---
layout: default
---

<div class="posts">
	<div class = "tagcol">
<h2>Tags</h2>
{% assign tags = site.tags | sort %}
{% for tag in tags %}
 <span class="site-tag">
    <a href="/tag/{{ tag | first | slugify }}"
        style="font-size: {{ tag | last | size  |  times: 4 | plus: 80  }}%">
			{{ tag[0] | replace:',', '' }},&nbsp
    </a>
</span>
{% endfor %}
<br>
<h2>About me</h2>
I'm a developer and Linux Sysadmin, with over ten years of experience and keen interest in grid & cluster computing, and information security.
I live in Sweden, and work at the National Supercomputer Center, in Linköping.
You can find my resume <a href="/assets/resume.pdf" >here. </a>
</div>
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
	<div class="date">
		{{ post.date | date: "%B %e, %Y" }}
	</div>
      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
